.avatar-updo {
  border-radius: 50%;
  display: inline;
  height: auto;
}

.avatar-xsmall { width: 50px; }

.avatar-small { width: 70px; }

.avatar-medium { width: 120px; }

.avatar-large { width: 160px; }
