.footer {
  margin: 0 auto;
  min-height: 250px;
  height: auto;
  width: 100%;
  background-color: #fff;
  padding: 20px;
}

.footer-section h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #474747;
  letter-spacing: 0.9px;
}

.footer-section ul {
  padding-left: 0px;
}
.footer-section ul li {
  list-style-type: none;
  line-height: 24px;
}
