.search-result-card {
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  border-left: 3px solid #ff8791;
  margin: 5px;
}

.search-result-avatar {
  align-self: center;
  width: 140px;
  flex-shrink: 0;
}

.search-result-details {
  min-width: 300px;
}

.search-result-category {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.search-result-details h2 {
  font-size: 20px;
  margin: 5px 10px 5px 0px;

}

.search-result-button {
  flex-shrink: 0;
}

.sort-menu-button {
  border-radius: 3px;
  }

/*GIG SEARCH RESULT CARD*/
.gig-search-result-list {
  z-index: -1;
  overflow: auto;
}

.gig-search-result-list ul {
  list-style-type: none;
  padding-left: 0px;
}

.gig-search-result-list ul li {
  margin: 10px 0px 5px 15px;
}

.search-result-avatar__gig {
  align-self: center;
  width: 140px;
  flex-shrink: 0;
}

.search-results-details__gig {
  min-width: 300px;
  font-size: 10px;
}

.search-result-details__gig h2 {
  font-size: 14px;
  margin: 5px 10px 5px 0px;
  font-weight: 600;
}

.search-result-details__gig-description {
  margin-bottom: 5px;
}

.search-result-details__gig-budget {
  font-weight: 600;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.search-result-details__gig-date {
  margin-bottom: 0px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .search-result-card {
    padding: 10px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
    -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
    box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
    border-top: 3px solid #ff8791;
    margin: 5px;
    border-left: none;
  }

  .search-result-avatar {
    padding-top: 15px;
    text-align: center;
    width: 140px;
    flex-shrink: 0;
  }

  .search-result-details {
    min-width: 300px;
    text-align: center;
    margin-bottom: 10px;
  }

 .search-result-category {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }

  .search-result-details h2 {
    font-size: 20px;
    margin: 5px 10px 5px 0px;

  }

  .search-result-button {
    flex-shrink: 0;
  }
}
