.tag-updo {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  color: white;
  padding: 4px 8px;
  background-color: #a89f9f;
/*  background-color: #ff8791;*/
  width: 30px;
  display: inline;
  border-radius: 8px;
  letter-spacing: 0.4px;
}

.tag-updo-selected {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: lowercase;
  color: #ff8791;
  padding: 4px 8px;
  background-color: white;
  width: 30px;
  display: inline;
  border-radius: 8px;
  border: 2px solid #ff8791;
  letter-spacing: 0.4px;
}

.tag-list ul li {
  line-height: 12px;
  padding: 3px;
}
